@use 'colors';

.container__body {
	// background-color: colors.$background-color;
	// font-family: 'El Messiri', sans-serif;
	// margin: 0px 96px;
	// max-width: 1200px;
	// width: 98%;
	// direction: rtl;
    background-color: colors.$background-color;
    font-family: 'El Messiri', sans-serif;
}

.main-container {
	max-width: 1200px;
	width: 98%;
	margin: 0px auto;
	padding: 20px 0;
}
