@use 'colors';
.shoppingCart-container{
    transition: 0.3s;
    background: #fff;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    max-width: 475px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.shoppingCart-header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    border-bottom: 1px solid #E4E4E4;
    padding: 0px 20px;
}

.shoppingCart-header-text{
    font-size: 18px;
    font-weight: 600;
}

.shoppingCart-header-numberOfItems-badge{
    background-color: colors.$blue-button;
    color: colors.$white-color;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    font-size: 14px;
    text-align: center;
}

.shoppingCart-body{
    flex: 1;
    padding: 20px 20px 10px;
    overflow: auto;
}

.shoppingCart-footer{
    padding: 0 20px 20px;
}

.shoppingCart-button{
    display: block;
    font-weight: bold;
    margin-top: 20px;
    height: 50px;
    line-height: 50px;
    background: var(--color-primary, #606CEC);
    color: #fff;
    transition: background 0.3s;
    box-shadow: 0 3px 6px rgb(0 0 0 / 5%), 0 1px 3px rgb(0 0 0 / 6%);
    width: 100%;
    border-radius: 5px;
}

// .shoppingCart-totalPrice::before , .shoppingCart-totalPrice::after{
//     content: "";
//     display: block;
//     clear: both;
// }

.shoppingCart-totalPrice{
    padding: 22px 0;
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shoppingCart-totalPrice-text{
    font-size: 20px;
    color: colors.$price-color;
}

.shoppingCart-totalPrice-number{
    font-size: 22px;
}

.shoppingCart-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}